@if (loading) {
  <app-loading></app-loading>
}
@if (error) {
  <div class="alert alert-danger" role="alert">
    {{msgError}}
  </div>
}
<div class="container">

  @for(booking of bookings; track $index) {
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="{{booking.property.urls[0] | noimage}}" class="card-img-top" alt="{{booking.property.name}}" style="object-fit: cover;">
            </div>
          </div>
          <div class="col-md-8 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title">{{booking.property.name}}</h5>
                    <h6 class="card-text">{{booking.property.address.street}} - {{booking.property.address.city}} - {{booking.property.address.countryCode}}</h6>
                    <p class="card-text">{{booking.checkInDate}} -  {{booking.checkOutDate}}</p>
                    @if(booking.bookingState == 'Pendiente') {
                      <p class="card-text"><input type="submit" value="Pagar" class="btn btn-danger"></p>
                    } @else {
                      <p class="card-text"><input type="submit" value="Pagar" class="btn btn-danger disabled"></p>
                    }
                  </div>
                  <div class="col">
                    <div class="row mb-3">
                      <div class="col d-flex justify-content-center">
                        @if(booking.bookingState == 'Pendiente') {
                          <span class="badge rounded-pill bg-warning text-dark">{{booking.bookingState}}</span>
                        } @else if(booking.bookingState == 'Pagado') {
                          <span class="badge rounded-pill bg-success text-white">{{booking.bookingState}}</span>
                        } @else {
                          <span class="badge rounded-pill bg-danger text-white">{{booking.bookingState}}</span>
                        }
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <img src="https://ui-avatars.com/api/?name={{booking.property.host.name}}+{{booking.property.host.lastname}}&background=random" class="img-thumbnail img-circle">
                      </div>
                      <div class="col-lg-8">
                        <p class="card-title" style="font-weight: bold;">
                          Anfitrion: {{booking.property.host.name}} {{booking.property.host.lastname}}
                        </p>
                        <p class="card-text" style="color: #7E7E7E;">{{booking.property.host.city}} - {{booking.property.host.country}}  </p>
                      </div>
                    </div>

                  </div>
                </div>


                <!-- Agrega otros detalles aquí -->

              </div>
            </div>
          </div>
        </div>
      </div>

    }

</div>


