<div class="row" style="padding-bottom: 10px;">
  <h5 class="card-title">Lo que este lugar ofrece</h5>
</div>

<div class="container">
  <div class="row">
    @for (amenity of items; track $index) {
    <div class="col-md-6 col-sm-6">
      <div clase="mb-6 card-content">
        <div class="card-body">
          <img src="/assets/img/{{ amenity}}.svg" alt="" width="30" height="22" class="content-image">
          <span class="card-text">{{ amenity}}</span>
        </div>
      </div>
    </div>
    }
  </div>
</div>
