@if (loading) {
  <app-loading></app-loading>
}
@if (error) {
  <div class="alert alert-danger" role="alert">
    {{msgError}}
  </div>
}
<div class="row" style="padding-bottom: 10px;">
  <h5 class="card-title">Inicia sesión</h5>
</div>
<form [formGroup] = "formulario" (ngSubmit) = "onSubmit()">
<div class="mb-3">
  <label for="">Email</label>
  <input type="email" class="form-control" formControlName="email" placeholder="Login">
</div>
<div class="mb-3">
  <label for="">password</label>
  <input type="password" class="form-control" formControlName="password" placeholder="password">
</div>
<input type="submit" value="Login" class="btn btn-danger">

</form>
