<div>
  <div class="container-fluid" style="background-color: #F7F7F7; padding-top: 15px;padding-bottom: 5px; border-bottom: 1px solid #EBEBEB">
    <p style="text-align: center;"> Favorito entre huéspedes: los espacios que más gustan en Nurbnb</p>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-light"  style="background-color: #FFFFFF;border-bottom: 1px solid #EBEBEB">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/banner-ico-2.png" width="30" height="30" alt=""> <span style="color: #F8385C; font-weight: bold;">Nurbnb</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link " [routerLink]="['/home']">Estadias</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/search']">Búsqueda</a>
        </li>
        @if (userService.isLogged()) {
          <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/booking']">Mis reservas</a>
        </li>
        }
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onClickLogout()">Logout</a>
        </li>
      </ul>
    </div>
    <div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="¿A dónde vas?" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
